textarea {
    min-height: 400px;
}
h4{
    background-color: #ccc;
}
.lbl{
    text-decoration: underline;
    /* cursor: pointer;
    border: solid red; */
}
#inbox-div{
    border:solid 1px
}
.mail-sn::before{
    content:'Sender';
    padding: 10px;
    font-weight: bold;
}
.mail-body::before{
    content: 'Body ';
    padding: 10px;
    font-weight: bold;
}

.mail-body{
    border: solid   ;
}

#current-msg{
    border: solid ;
    min-height: 50%;
    /* display: none; */
}